<header>
    <img width="60" height="80" src="/assets/logo.svg" alt="Astro logo">
    <h1>Created with <a href="https://astro.build/" target="_blank">Astro</a></h1>
</header>

<style>
  header {
      display: flex;
      flex-direction: column;
      gap: 1em;
      max-width: min(100%, 68ch);
      margin: 0 auto;
      justify-content: center;
      align-items: center;
  }
</style>